.container {
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
}

.container h1 {
    text-align: left;
    margin: 0px;
    font-size: 2.5em;
    padding: 40px;
}

.container h1 span {
    background-color: rgb(68, 3, 3);
    width: auto;
    color: #fff;
    padding: 0.2em;
    border-radius: 0.2em;
}

.container p {
    text-align: justify;
    padding: 0.8em;
    border-radius: 1em;
    color: #FFF;
    background-color: rgb(68, 3, 3);
    text-indent: 3em;
    font-size: 120%;

}

.pic {
    display: flex;
    width: 150px;
}

.inner {
    margin-top: 100%;
    width: 200px;
    padding: 1em;
    margin: 20%;
}
