.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(68, 3, 3);
    width: auto;
}

.list {
    font-family: Helvetica;
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 2.5em;
    font-size: 2.5em;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: #7e028f;
}

.logo {
    margin-left: 0px;
    margin-right: 6rem;
    width: 50%;
}
